@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-sOnivpq9lLB58h: 1140px;
  --plasmic-token-content-max-width: var(--token-sOnivpq9lLB58h);
  --token-UWo00KPxK0uPmI: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-UWo00KPxK0uPmI);
  --token-_pOSWgdvKzdOZj: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-_pOSWgdvKzdOZj);
  --token-P7_hJ0LwKRN9kE: #92959bd9;
  --plasmic-token-light-label: var(--token-P7_hJ0LwKRN9kE);
  --token-qm2JDQf6sIELlQ: #05050599;
  --plasmic-token-light-secondary: var(--token-qm2JDQf6sIELlQ);
  --token-Fma3IKGsvMJJnH: #007aff;
  --plasmic-token-light-blue: var(--token-Fma3IKGsvMJJnH);
  --token-C2IBqsVDJrq8B7: #ff3b30;
  --plasmic-token-light-red: var(--token-C2IBqsVDJrq8B7);
  --token-UDIbo55MP5m8vE: #ffffff;
  --plasmic-token-white: var(--token-UDIbo55MP5m8vE);
  --token-Cj4PfO2Qy1YQyu: #ffffffd9;
  --plasmic-token-dark-label: var(--token-Cj4PfO2Qy1YQyu);
  --token-LQXwrEq3m1gxwa: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-LQXwrEq3m1gxwa);
  --token-JiEsPUnZDuNm6F: #0000001a;
  --plasmic-token-light-quarternary: var(--token-JiEsPUnZDuNm6F);
  --token-tKwpGZSbCkabAb: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-tKwpGZSbCkabAb);
  --token-uL_NmBr94hkzPS: #32d74b;
  --plasmic-token-dark-green: var(--token-uL_NmBr94hkzPS);
  --token-IDu3Ifb-9du1X0: #0a84ff;
  --plasmic-token-dark-blue: var(--token-IDu3Ifb-9du1X0);
  --token-DJUzXjyr_tkr0Z: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-DJUzXjyr_tkr0Z);
  --token-7znhglugtDWg7x: #34c759;
  --plasmic-token-light-green: var(--token-7znhglugtDWg7x);
  --token-kIbk5Lv46FpHT_: #5856d6;
  --plasmic-token-light-indigo: var(--token-kIbk5Lv46FpHT_);
  --token-wz5ilVQEFKBMMy: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-wz5ilVQEFKBMMy);
  --token-wz5ilVQEFKBMMy: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-wz5ilVQEFKBMMy);
  --token-n99a0qzYHaB3Ix: 1240px;
  --plasmic-token-max-width-navbar: var(--token-n99a0qzYHaB3Ix);
  --token-n99a0qzYHaB3Ix: 1240px;
  --plasmic-token-max-width-navbar: var(--token-n99a0qzYHaB3Ix);
  --token-90Ij-6RobSaH-4: var(--token-BvDsZxbr5B7ce1);
  --plasmic-token-unnamed-style-token-2: var(--token-90Ij-6RobSaH-4);
  --token-90Ij-6RobSaH-4: var(--token-BvDsZxbr5B7ce1);
  --plasmic-token-unnamed-style-token-2: var(--token-90Ij-6RobSaH-4);
  --token-BvDsZxbr5B7ce1: #eeeeee80;
  --plasmic-token-grey: var(--token-BvDsZxbr5B7ce1);
  --token-BvDsZxbr5B7ce1: #eeeeee80;
  --plasmic-token-grey: var(--token-BvDsZxbr5B7ce1);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-wLQuOdut9-xaMY_font-family: "Montserrat", sans-serif;
  --mixin-wLQuOdut9-xaMY_font-size: 24px;
  --mixin-wLQuOdut9-xaMY_font-weight: 500;
  --mixin-wLQuOdut9-xaMY_font-style: normal;
  --mixin-wLQuOdut9-xaMY_color: #00000080;
  --mixin-wLQuOdut9-xaMY_text-align: left;
  --mixin-wLQuOdut9-xaMY_text-transform: none;
  --mixin-wLQuOdut9-xaMY_line-height: 1.5;
  --mixin-wLQuOdut9-xaMY_letter-spacing: normal;
  --mixin-wLQuOdut9-xaMY_white-space: pre-wrap;
  --mixin-wLQuOdut9-xaMY_user-select: text;
  --mixin-wLQuOdut9-xaMY_text-decoration-line: none;
  --mixin-wLQuOdut9-xaMY_text-overflow: clip;
  --mixin-1KE-bRi6Jm9iSO_white-space: pre-wrap;
  --mixin-9F8vtBKHzgtWIE_font-family: "Montserrat", sans-serif;
  --mixin-9F8vtBKHzgtWIE_color: #ffffff;
  --mixin-9F8vtBKHzgtWIE_font-size: 72px;
  --mixin-9F8vtBKHzgtWIE_font-weight: 700;
  --mixin-9F8vtBKHzgtWIE_line-height: 88px;
  --mixin-9F8vtBKHzgtWIE_white-space: pre-wrap;
  --mixin-tEyqkaGJWXlywm_font-family: "Inter", sans-serif;
  --mixin-tEyqkaGJWXlywm_color: #000000;
  --mixin-tEyqkaGJWXlywm_font-size: 36px;
  --mixin-tEyqkaGJWXlywm_font-weight: 700;
  --mixin-tEyqkaGJWXlywm_line-height: 43px;
  --mixin-tEyqkaGJWXlywm_text-align: center;
  --mixin-tEyqkaGJWXlywm_white-space: pre-wrap;
  --mixin-jZIc-1iTpZEgz8_font-family: "Inter", sans-serif;
  --mixin-jZIc-1iTpZEgz8_color: #000000;
  --mixin-jZIc-1iTpZEgz8_font-size: 24px;
  --mixin-jZIc-1iTpZEgz8_font-weight: 600;
  --mixin-jZIc-1iTpZEgz8_letter-spacing: -0.5px;
  --mixin-jZIc-1iTpZEgz8_line-height: 1.3;
  --mixin-jZIc-1iTpZEgz8_white-space: pre-wrap;
  --mixin-bHEsu7KsvF3K-C_font-family: "Montserrat", sans-serif;
  --mixin-bHEsu7KsvF3K-C_color: #185adb;
  --mixin-bHEsu7KsvF3K-C_font-size: 24px;
  --mixin-bHEsu7KsvF3K-C_font-weight: 700;
  --mixin-bHEsu7KsvF3K-C_line-height: 29px;
  --mixin-bHEsu7KsvF3K-C_text-align: center;
  --mixin-bHEsu7KsvF3K-C_white-space: pre-wrap;
  --mixin-k0byExN6HwDj8R_font-family: "Inter", sans-serif;
  --mixin-k0byExN6HwDj8R_color: #000000;
  --mixin-k0byExN6HwDj8R_font-size: 16px;
  --mixin-k0byExN6HwDj8R_font-weight: 600;
  --mixin-k0byExN6HwDj8R_line-height: 1.5;
  --mixin-k0byExN6HwDj8R_white-space: pre-wrap;
  --mixin-VAlZSdF2ihJQQT_border-left-color: #dddddd;
  --mixin-VAlZSdF2ihJQQT_border-left-style: solid;
  --mixin-VAlZSdF2ihJQQT_border-left-width: 3px;
  --mixin-VAlZSdF2ihJQQT_color: #888888;
  --mixin-VAlZSdF2ihJQQT_padding-left: 10px;
  --mixin-VAlZSdF2ihJQQT_white-space: pre-wrap;
  --mixin-I7kFUnX-BFGjJf_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-I7kFUnX-BFGjJf_border-bottom-color: #dddddd;
  --mixin-I7kFUnX-BFGjJf_border-bottom-style: solid;
  --mixin-I7kFUnX-BFGjJf_border-bottom-width: 1px;
  --mixin-I7kFUnX-BFGjJf_border-left-color: #dddddd;
  --mixin-I7kFUnX-BFGjJf_border-left-style: solid;
  --mixin-I7kFUnX-BFGjJf_border-left-width: 1px;
  --mixin-I7kFUnX-BFGjJf_border-right-color: #dddddd;
  --mixin-I7kFUnX-BFGjJf_border-right-style: solid;
  --mixin-I7kFUnX-BFGjJf_border-right-width: 1px;
  --mixin-I7kFUnX-BFGjJf_border-top-color: #dddddd;
  --mixin-I7kFUnX-BFGjJf_border-top-style: solid;
  --mixin-I7kFUnX-BFGjJf_border-top-width: 1px;
  --mixin-I7kFUnX-BFGjJf_border-bottom-left-radius: 3px;
  --mixin-I7kFUnX-BFGjJf_border-bottom-right-radius: 3px;
  --mixin-I7kFUnX-BFGjJf_border-top-left-radius: 3px;
  --mixin-I7kFUnX-BFGjJf_border-top-right-radius: 3px;
  --mixin-I7kFUnX-BFGjJf_font-family: "Inconsolata";
  --mixin-I7kFUnX-BFGjJf_padding-bottom: 1px;
  --mixin-I7kFUnX-BFGjJf_padding-left: 4px;
  --mixin-I7kFUnX-BFGjJf_padding-right: 4px;
  --mixin-I7kFUnX-BFGjJf_padding-top: 1px;
  --mixin-I7kFUnX-BFGjJf_white-space: pre-wrap;
  --mixin-4nuGI0zoNelDfe_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-4nuGI0zoNelDfe_border-bottom-color: #dddddd;
  --mixin-4nuGI0zoNelDfe_border-bottom-style: solid;
  --mixin-4nuGI0zoNelDfe_border-bottom-width: 1px;
  --mixin-4nuGI0zoNelDfe_border-left-color: #dddddd;
  --mixin-4nuGI0zoNelDfe_border-left-style: solid;
  --mixin-4nuGI0zoNelDfe_border-left-width: 1px;
  --mixin-4nuGI0zoNelDfe_border-right-color: #dddddd;
  --mixin-4nuGI0zoNelDfe_border-right-style: solid;
  --mixin-4nuGI0zoNelDfe_border-right-width: 1px;
  --mixin-4nuGI0zoNelDfe_border-top-color: #dddddd;
  --mixin-4nuGI0zoNelDfe_border-top-style: solid;
  --mixin-4nuGI0zoNelDfe_border-top-width: 1px;
  --mixin-4nuGI0zoNelDfe_border-bottom-left-radius: 3px;
  --mixin-4nuGI0zoNelDfe_border-bottom-right-radius: 3px;
  --mixin-4nuGI0zoNelDfe_border-top-left-radius: 3px;
  --mixin-4nuGI0zoNelDfe_border-top-right-radius: 3px;
  --mixin-4nuGI0zoNelDfe_font-family: "Inconsolata";
  --mixin-4nuGI0zoNelDfe_padding-bottom: 3px;
  --mixin-4nuGI0zoNelDfe_padding-left: 6px;
  --mixin-4nuGI0zoNelDfe_padding-right: 6px;
  --mixin-4nuGI0zoNelDfe_padding-top: 3px;
  --mixin-4nuGI0zoNelDfe_white-space: pre-wrap;
  --mixin-z3Iw83fsZ-Qzgk_display: flex;
  --mixin-z3Iw83fsZ-Qzgk_flex-direction: column;
  --mixin-z3Iw83fsZ-Qzgk_align-items: stretch;
  --mixin-z3Iw83fsZ-Qzgk_justify-content: flex-start;
  --mixin-z3Iw83fsZ-Qzgk_list-style-position: outside;
  --mixin-z3Iw83fsZ-Qzgk_padding-left: 40px;
  --mixin-z3Iw83fsZ-Qzgk_position: relative;
  --mixin-z3Iw83fsZ-Qzgk_list-style-type: decimal;
  --mixin-z3Iw83fsZ-Qzgk_white-space: pre-wrap;
  --mixin-0A_OkhG7ivDbF-_display: flex;
  --mixin-0A_OkhG7ivDbF-_flex-direction: column;
  --mixin-0A_OkhG7ivDbF-_align-items: stretch;
  --mixin-0A_OkhG7ivDbF-_justify-content: flex-start;
  --mixin-0A_OkhG7ivDbF-_list-style-position: outside;
  --mixin-0A_OkhG7ivDbF-_padding-left: 40px;
  --mixin-0A_OkhG7ivDbF-_position: relative;
  --mixin-0A_OkhG7ivDbF-_list-style-type: disc;
  --mixin-0A_OkhG7ivDbF-_white-space: pre-wrap;
  --mixin-ABC1WUggQgwvIi_color: #000000;
  --mixin-ABC1WUggQgwvIi_font-family: "Montserrat", sans-serif;
  --mixin-ABC1WUggQgwvIi_font-size: 64px;
  --mixin-ABC1WUggQgwvIi_font-weight: 700;
  --mixin-ABC1WUggQgwvIi_line-height: 78px;
  --mixin-ABC1WUggQgwvIi_text-align: center;
  --mixin-ABC1WUggQgwvIi_white-space: pre-wrap;
  --mixin-T3VwWQ94jonH81_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-wLQuOdut9-xaMY_font-size: 16px;
    --mixin-wLQuOdut9-xaMY_line-height: 27px;
    --mixin-wLQuOdut9-xaMY_white-space: pre-wrap;
    --mixin-9F8vtBKHzgtWIE_font-size: 40px;
    --mixin-9F8vtBKHzgtWIE_line-height: 48px;
    --mixin-9F8vtBKHzgtWIE_white-space: pre-wrap;
    --mixin-ABC1WUggQgwvIi_font-size: 28px;
    --mixin-ABC1WUggQgwvIi_line-height: 34px;
    --mixin-ABC1WUggQgwvIi_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-Od_yVC9efRLJEz_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-Od_yVC9efRLJEz_box-shadow
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-wLQuOdut9-xaMY_font-family);
  font-size: var(--mixin-wLQuOdut9-xaMY_font-size);
  font-weight: var(--mixin-wLQuOdut9-xaMY_font-weight);
  font-style: var(--mixin-wLQuOdut9-xaMY_font-style);
  color: var(--mixin-wLQuOdut9-xaMY_color);
  text-align: var(--mixin-wLQuOdut9-xaMY_text-align);
  text-transform: var(--mixin-wLQuOdut9-xaMY_text-transform);
  line-height: var(--mixin-wLQuOdut9-xaMY_line-height);
  letter-spacing: var(--mixin-wLQuOdut9-xaMY_letter-spacing);
  white-space: var(--mixin-wLQuOdut9-xaMY_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-9F8vtBKHzgtWIE_font-family);
  color: var(--mixin-9F8vtBKHzgtWIE_color);
  font-size: var(--mixin-9F8vtBKHzgtWIE_font-size);
  font-weight: var(--mixin-9F8vtBKHzgtWIE_font-weight);
  line-height: var(--mixin-9F8vtBKHzgtWIE_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-tEyqkaGJWXlywm_font-family);
  color: var(--mixin-tEyqkaGJWXlywm_color);
  font-size: var(--mixin-tEyqkaGJWXlywm_font-size);
  font-weight: var(--mixin-tEyqkaGJWXlywm_font-weight);
  line-height: var(--mixin-tEyqkaGJWXlywm_line-height);
  text-align: var(--mixin-tEyqkaGJWXlywm_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-jZIc-1iTpZEgz8_font-family);
  color: var(--mixin-jZIc-1iTpZEgz8_color);
  font-size: var(--mixin-jZIc-1iTpZEgz8_font-size);
  font-weight: var(--mixin-jZIc-1iTpZEgz8_font-weight);
  letter-spacing: var(--mixin-jZIc-1iTpZEgz8_letter-spacing);
  line-height: var(--mixin-jZIc-1iTpZEgz8_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-bHEsu7KsvF3K-C_font-family);
  color: var(--mixin-bHEsu7KsvF3K-C_color);
  font-size: var(--mixin-bHEsu7KsvF3K-C_font-size);
  font-weight: var(--mixin-bHEsu7KsvF3K-C_font-weight);
  line-height: var(--mixin-bHEsu7KsvF3K-C_line-height);
  text-align: var(--mixin-bHEsu7KsvF3K-C_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-k0byExN6HwDj8R_font-family);
  color: var(--mixin-k0byExN6HwDj8R_color);
  font-size: var(--mixin-k0byExN6HwDj8R_font-size);
  font-weight: var(--mixin-k0byExN6HwDj8R_font-weight);
  line-height: var(--mixin-k0byExN6HwDj8R_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-VAlZSdF2ihJQQT_color);
  padding-left: var(--mixin-VAlZSdF2ihJQQT_padding-left);
  border-left: var(--mixin-VAlZSdF2ihJQQT_border-left-width)
    var(--mixin-VAlZSdF2ihJQQT_border-left-style)
    var(--mixin-VAlZSdF2ihJQQT_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-I7kFUnX-BFGjJf_font-family);
  border-radius: var(--mixin-I7kFUnX-BFGjJf_border-top-left-radius)
    var(--mixin-I7kFUnX-BFGjJf_border-top-right-radius)
    var(--mixin-I7kFUnX-BFGjJf_border-bottom-right-radius)
    var(--mixin-I7kFUnX-BFGjJf_border-bottom-left-radius);
  padding: var(--mixin-I7kFUnX-BFGjJf_padding-top)
    var(--mixin-I7kFUnX-BFGjJf_padding-right)
    var(--mixin-I7kFUnX-BFGjJf_padding-bottom)
    var(--mixin-I7kFUnX-BFGjJf_padding-left);
  border-top: var(--mixin-I7kFUnX-BFGjJf_border-top-width)
    var(--mixin-I7kFUnX-BFGjJf_border-top-style)
    var(--mixin-I7kFUnX-BFGjJf_border-top-color);
  border-right: var(--mixin-I7kFUnX-BFGjJf_border-right-width)
    var(--mixin-I7kFUnX-BFGjJf_border-right-style)
    var(--mixin-I7kFUnX-BFGjJf_border-right-color);
  border-bottom: var(--mixin-I7kFUnX-BFGjJf_border-bottom-width)
    var(--mixin-I7kFUnX-BFGjJf_border-bottom-style)
    var(--mixin-I7kFUnX-BFGjJf_border-bottom-color);
  border-left: var(--mixin-I7kFUnX-BFGjJf_border-left-width)
    var(--mixin-I7kFUnX-BFGjJf_border-left-style)
    var(--mixin-I7kFUnX-BFGjJf_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-4nuGI0zoNelDfe_font-family);
  border-radius: var(--mixin-4nuGI0zoNelDfe_border-top-left-radius)
    var(--mixin-4nuGI0zoNelDfe_border-top-right-radius)
    var(--mixin-4nuGI0zoNelDfe_border-bottom-right-radius)
    var(--mixin-4nuGI0zoNelDfe_border-bottom-left-radius);
  padding: var(--mixin-4nuGI0zoNelDfe_padding-top)
    var(--mixin-4nuGI0zoNelDfe_padding-right)
    var(--mixin-4nuGI0zoNelDfe_padding-bottom)
    var(--mixin-4nuGI0zoNelDfe_padding-left);
  border-top: var(--mixin-4nuGI0zoNelDfe_border-top-width)
    var(--mixin-4nuGI0zoNelDfe_border-top-style)
    var(--mixin-4nuGI0zoNelDfe_border-top-color);
  border-right: var(--mixin-4nuGI0zoNelDfe_border-right-width)
    var(--mixin-4nuGI0zoNelDfe_border-right-style)
    var(--mixin-4nuGI0zoNelDfe_border-right-color);
  border-bottom: var(--mixin-4nuGI0zoNelDfe_border-bottom-width)
    var(--mixin-4nuGI0zoNelDfe_border-bottom-style)
    var(--mixin-4nuGI0zoNelDfe_border-bottom-color);
  border-left: var(--mixin-4nuGI0zoNelDfe_border-left-width)
    var(--mixin-4nuGI0zoNelDfe_border-left-style)
    var(--mixin-4nuGI0zoNelDfe_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-z3Iw83fsZ-Qzgk_display);
  flex-direction: var(--mixin-z3Iw83fsZ-Qzgk_flex-direction);
  align-items: var(--mixin-z3Iw83fsZ-Qzgk_align-items);
  justify-content: var(--mixin-z3Iw83fsZ-Qzgk_justify-content);
  list-style-position: var(--mixin-z3Iw83fsZ-Qzgk_list-style-position);
  padding-left: var(--mixin-z3Iw83fsZ-Qzgk_padding-left);
  position: var(--mixin-z3Iw83fsZ-Qzgk_position);
  list-style-type: var(--mixin-z3Iw83fsZ-Qzgk_list-style-type);
  flex-column-gap: var(--mixin-z3Iw83fsZ-Qzgk_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-0A_OkhG7ivDbF-_display);
  flex-direction: var(--mixin-0A_OkhG7ivDbF-_flex-direction);
  align-items: var(--mixin-0A_OkhG7ivDbF-_align-items);
  justify-content: var(--mixin-0A_OkhG7ivDbF-_justify-content);
  list-style-position: var(--mixin-0A_OkhG7ivDbF-_list-style-position);
  padding-left: var(--mixin-0A_OkhG7ivDbF-_padding-left);
  position: var(--mixin-0A_OkhG7ivDbF-_position);
  list-style-type: var(--mixin-0A_OkhG7ivDbF-_list-style-type);
  flex-column-gap: var(--mixin-0A_OkhG7ivDbF-_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-ABC1WUggQgwvIi_color);
  font-family: var(--mixin-ABC1WUggQgwvIi_font-family);
  font-size: var(--mixin-ABC1WUggQgwvIi_font-size);
  font-weight: var(--mixin-ABC1WUggQgwvIi_font-weight);
  line-height: var(--mixin-ABC1WUggQgwvIi_line-height);
  text-align: var(--mixin-ABC1WUggQgwvIi_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
