.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .root {
    display: flex;
  }
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: #1c1c1c;
  overflow: hidden;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .headerHeroSection {
    padding-left: 18px;
    padding-right: 18px;
  }
}
.navbar:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
  display: flex;
}
.freeBox__hvbn1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1274px;
  height: auto;
  max-width: 100%;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__hvbn1 {
    margin-top: calc(0px + 64px) !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.freeBox__xWAiN {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 1224px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__xWAiN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xWAiN > :global(.__wab_flex-container) > *,
.freeBox__xWAiN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xWAiN > :global(.__wab_flex-container) > picture > img,
.freeBox__xWAiN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__xWAiN {
    display: flex;
    flex-direction: column;
    width: 541px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__xWAiN > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__xWAiN > :global(.__wab_flex-container) > *,
  .freeBox__xWAiN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xWAiN > :global(.__wab_flex-container) > picture > img,
  .freeBox__xWAiN
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__cDNaP {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 593px;
  margin-top: 0px;
  margin-right: 6px;
  min-width: 0;
  padding: 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__cDNaP {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 802px;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 0;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h1 {
    width: 100%;
    max-width: 100%;
    min-width: 0;
  }
}
.text__jEPiI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 55px;
  color: #eeeeee80;
  font-weight: 400;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__jEPiI {
    padding-top: 16px;
    width: auto;
    font-size: 18px;
    text-align: left;
    align-self: flex-start;
  }
}
.freeBox__lcVff {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
.freeBox__lcVff > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lcVff {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    max-width: 340px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lcVff > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lcVff > :global(.__wab_flex-container) > *,
  .freeBox__lcVff > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lcVff > :global(.__wab_flex-container) > picture > img,
  .freeBox__lcVff
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 16px;
  }
}
.button__ap8Ge:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 58px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__ap8Ge:global(.__wab_instance) {
    height: 58px;
    align-self: auto;
    width: 100%;
    max-width: 340px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.svg__lX3V {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__c5Fg0 {
    font-size: 16px;
    font-style: normal;
    text-align: center;
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.svg__mKgKw {
  position: relative;
  object-fit: cover;
  width: 26px;
  height: 26px;
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .svg__mKgKw {
    color: #ffffff;
    margin-right: 0px;
    display: block;
  }
}
.button___8ZsN:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 52px;
  height: 58px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___8ZsN:global(.__wab_instance) {
    margin-left: calc(0px + 20px) !important;
    max-width: 340px;
    width: 100%;
    height: 58px;
    min-width: 0;
    flex-shrink: 0;
    display: flex;
  }
}
.svg__c4JTw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ga5Bd {
  text-align: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__ga5Bd {
    font-size: 16px;
    text-align: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0px;
    height: auto;
    min-width: 0;
  }
}
.svg__txxa4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__tlEft {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 52px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__tlEft {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 14px;
    min-width: 0;
    display: none;
  }
}
.button__dO1H0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mivPa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__wftRs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__m0Tys:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-left: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__m0Tys:global(.__wab_instance) {
    display: none;
  }
}
.svg__oBcQc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__uqT5Z {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__hBqow {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___9Alo2 {
  position: relative;
  object-fit: cover;
  margin-left: 76px;
  width: 100%;
  min-width: 661px;
}
.img___9Alo2 > picture > img {
  object-fit: cover;
}
.img___9Alo2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___9Alo2 {
    margin-top: 34px;
    width: 100%;
    margin-left: 0px;
    min-width: 0px;
  }
}
.text___6JPna {
  position: relative;
  width: auto;
  height: auto;
  max-width: var(--token-sOnivpq9lLB58h);
  color: var(--token-90Ij-6RobSaH-4);
  font-size: 18px;
  padding-top: 90px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___6JPna {
    font-size: 16px;
    padding-top: 31px;
    text-align: center;
  }
}
.freeBox__szlQf {
  display: flex;
  position: relative;
  flex-direction: row;
  height: auto;
  max-width: 1104px;
  width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__szlQf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.freeBox__szlQf > :global(.__wab_flex-container) > *,
.freeBox__szlQf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__szlQf > :global(.__wab_flex-container) > picture > img,
.freeBox__szlQf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__szlQf {
    width: 100%;
    max-width: var(--token-sOnivpq9lLB58h);
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__szlQf > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 20px);
    width: calc(100% + 20px);
    margin-top: calc(0px - 50px);
    height: calc(100% + 50px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__szlQf > :global(.__wab_flex-container) > *,
  .freeBox__szlQf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__szlQf > :global(.__wab_flex-container) > picture > img,
  .freeBox__szlQf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 20px;
    margin-top: 50px;
  }
}
.img__lxga7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__lxga7 > picture > img {
  object-fit: cover;
}
.img__lxga7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__lxga7 {
    max-width: 170px;
  }
}
.img__kvgJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kvgJ > picture > img {
  object-fit: cover;
}
.img__kvgJ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__kvgJ {
    max-width: 170px;
  }
}
.img__gvqtW {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__gvqtW > picture > img {
  object-fit: cover;
}
.img__gvqtW > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__gvqtW {
    max-width: 170px;
  }
}
.img__fdVo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img__fdVo > picture > img {
  object-fit: cover;
}
.img__fdVo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__fdVo {
    max-width: 170px;
  }
}
.img___4Tnrw {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 1198px;
}
.img___4Tnrw > picture > img {
  object-fit: cover;
}
.img___4Tnrw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__rDiHb {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: 774px;
  left: 0px;
  top: 1159px;
}
.img__rDiHb > picture > img {
  object-fit: cover;
}
.img__rDiHb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__zChbb {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  max-height: none;
  height: auto;
  width: auto;
  left: auto;
  top: 754px;
  object-position: right center;
  align-self: flex-end;
}
.img__zChbb > picture > img {
  object-fit: cover;
  object-position: right center;
}
.img__zChbb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: right center;
}
.diagramSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___0Jbx {
  max-width: var(--token-sOnivpq9lLB58h);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___0Jbx {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
.h2__sgDkr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 666px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__sgDkr {
    font-size: 28px;
  }
}
.text__jrl6X {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
.img__cyaSn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 92px;
  z-index: 2;
}
.img__cyaSn > picture > img {
  object-fit: cover;
}
.img__cyaSn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__cyaSn {
    max-width: 249px;
  }
}
.img__gbXrx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: -32px;
  z-index: 1;
}
.img__gbXrx > picture > img {
  object-fit: cover;
}
.img__gbXrx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__gbXrx {
    width: auto;
  }
}
.img__sqiUg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__sqiUg > picture > img {
  object-fit: cover;
}
.img__sqiUg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__sqiUg {
    max-width: 50px;
  }
}
.img__gePmI {
  position: relative;
  object-fit: cover;
  max-width: 770px;
  margin-top: 24px;
  margin-left: 100px;
  margin-right: 100px;
  width: auto;
}
.img__gePmI > picture > img {
  object-fit: cover;
}
.img__gePmI > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__gePmI {
    max-width: 500px;
    height: auto;
    margin-top: 7px;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
  }
}
.freeBox___17Nzw {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 44px 0px 0px;
}
.freeBox___17Nzw > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox___17Nzw > :global(.__wab_flex-container) > *,
.freeBox___17Nzw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___17Nzw > :global(.__wab_flex-container) > picture > img,
.freeBox___17Nzw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___17Nzw {
    padding-top: 19px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___17Nzw > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___17Nzw > :global(.__wab_flex-container) > *,
  .freeBox___17Nzw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___17Nzw > :global(.__wab_flex-container) > picture > img,
  .freeBox___17Nzw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.diagramCard__hNnm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .diagramCard__hNnm:global(.__wab_instance) {
    width: auto;
  }
}
.diagramCard__mxiOq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.diagramCard__zYn9Y:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__hrTEq {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 1012px;
  min-width: 0;
  padding: 160px 0px 0px;
}
.freeBox__hrTEq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox__hrTEq > :global(.__wab_flex-container) > *,
.freeBox__hrTEq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hrTEq > :global(.__wab_flex-container) > picture > img,
.freeBox__hrTEq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__hrTEq {
    padding-top: 59px;
    max-width: 358px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__hrTEq > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: calc(0px - 17px);
    width: calc(100% + 17px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__hrTEq > :global(.__wab_flex-container) > *,
  .freeBox__hrTEq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hrTEq > :global(.__wab_flex-container) > picture > img,
  .freeBox__hrTEq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 17px;
    margin-top: 24px;
  }
}
.img__agsZ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__agsZ > picture > img {
  object-fit: cover;
}
.img__agsZ > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__agsZ {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__aBdmh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__aBdmh > picture > img {
  object-fit: cover;
}
.img__aBdmh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__aBdmh {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__l09GO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__l09GO > picture > img {
  object-fit: cover;
}
.img__l09GO > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__l09GO {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__s20Kf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__s20Kf > picture > img {
  object-fit: cover;
}
.img__s20Kf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__s20Kf {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__tfr8Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__tfr8Q > picture > img {
  object-fit: cover;
}
.img__tfr8Q > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__tfr8Q {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__qjkSf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__qjkSf > picture > img {
  object-fit: cover;
}
.img__qjkSf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__qjkSf {
    max-width: 72px;
    max-height: 72px;
  }
}
.img__guwv5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__guwv5 > picture > img {
  object-fit: cover;
}
.img__guwv5 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__guwv5 {
    max-width: 72px;
    max-height: 72px;
  }
}
.h2__dv7WK {
  position: relative;
  width: auto;
  height: auto;
  max-width: 666px;
  padding-top: 52px;
}
.text__gP9Ec {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 54px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__gP9Ec {
    font-size: 16px;
  }
}
.deviceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-grow: 0;
  z-index: 1;
}
@media (min-width: 0px) and (max-width: 930px) {
  .deviceSection:global(.__wab_instance) {
    height: 440px;
    flex-shrink: 0;
  }
}
.freeBox__benkV {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 388px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__benkV {
    padding-bottom: 46px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.h2__tdwah {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 40px;
  color: var(--token-UDIbo55MP5m8vE);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__tdwah {
    color: var(--token-UDIbo55MP5m8vE);
  }
}
.text__rxVYu {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-top: 53px;
  text-align: center;
  color: #ffffff80;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__rxVYu {
    font-size: 16px;
    padding-top: 36px;
  }
}
.img__n583D {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: 772px;
  z-index: 9;
  margin-top: -369px;
  width: auto;
}
.img__n583D > picture > img {
  object-fit: cover;
}
.img__n583D > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__n583D {
    left: auto;
    top: 754px;
    max-width: 360px;
    margin-top: -499px;
  }
}
.gallerySection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__fBcfo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1440px;
  min-width: 0;
  padding: 278px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__fBcfo {
    padding-top: 102px;
    padding-bottom: 0px;
  }
}
.columns__tOt36 {
  --plsmc-rc-col-gap: 0px;
}
.columns__tOt36 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px 8px;
}
.columns__tOt36 > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__tOt36 > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__tOt36 > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__tOt36 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__tOt36 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__gfzj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__gfzj {
    padding-right: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img__iaMh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__iaMh > picture > img {
  object-fit: cover;
}
.img__iaMh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__liDxb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__liDxb {
    padding: 4px 0px;
  }
}
.img__ug5O4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__ug5O4 > picture > img {
  object-fit: cover;
}
.img__ug5O4 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__fGjm2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__fGjm2 {
    padding-left: 0px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
.img__o10Zq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__o10Zq > picture > img {
  object-fit: cover;
}
.img__o10Zq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__hg2Ux {
  --plsmc-rc-col-gap: 0px;
}
.columns__hg2Ux {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 4px 8px;
}
.columns__hg2Ux > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__hg2Ux > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__hg2Ux > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__hg2Ux {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__hg2Ux > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___6S7Ch {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px 4px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___6S7Ch {
    padding-right: 0px;
  }
}
.img__aCkCh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__aCkCh > picture > img {
  object-fit: cover;
}
.img__aCkCh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__crfeG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__crfeG {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.img__dbYnY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  min-height: 0;
}
.img__dbYnY > picture > img {
  object-fit: cover;
}
.img__dbYnY > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__ow7Zw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px 0px 4px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__ow7Zw {
    padding-left: 0px;
  }
}
.img__uOvDp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 300px;
  min-height: 0;
}
.img__uOvDp > picture > img {
  object-fit: cover;
}
.img__uOvDp > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.productSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__gB4O {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__raLOk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__pYucK {
  position: relative;
  width: auto;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-top: 53px;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__pYucK {
    font-size: 16px;
  }
}
.button__nDad:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 52px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__nDad:global(.__wab_instance) {
    max-width: 171px;
    width: 100%;
    max-height: 58px;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.svg__ghUy3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__kgbfo {
    font-size: 18px;
    text-align: center;
    width: 100%;
    line-height: 22px;
    min-width: 0;
    margin: 8px 0px;
  }
}
.svg__fCyYp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__em4U5 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__em4U5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__em4U5 > :global(.__wab_flex-container) > *,
.freeBox__em4U5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__em4U5 > :global(.__wab_flex-container) > picture > img,
.freeBox__em4U5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__em4U5 {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__em4U5 > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__em4U5 > :global(.__wab_flex-container) > *,
  .freeBox__em4U5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__em4U5 > :global(.__wab_flex-container) > picture > img,
  .freeBox__em4U5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard__kqJw1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard__iioW2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__zp4Q {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 20px 0px 0px;
}
.freeBox__zp4Q > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__zp4Q > :global(.__wab_flex-container) > *,
.freeBox__zp4Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zp4Q > :global(.__wab_flex-container) > picture > img,
.freeBox__zp4Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zp4Q > :global(.__wab_flex-container) {
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zp4Q > :global(.__wab_flex-container) > *,
  .freeBox__zp4Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__zp4Q > :global(.__wab_flex-container) > picture > img,
  .freeBox__zp4Q
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.productCard__hQHjF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.productCard___8Z7LN:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.aboutSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__rCc3J {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.h2__hubQk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-top: 40px;
  color: var(--token-UDIbo55MP5m8vE);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__hubQk {
    padding-top: 18px;
  }
}
.freeBox__hfRNx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 46px;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__hfRNx {
    display: flex;
    flex-direction: column;
  }
}
.freeBox__iVllX {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.img___1Yzai {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: auto;
}
.img___1Yzai > picture > img {
  object-fit: cover;
}
.img___1Yzai > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___1Yzai {
    max-width: 339px;
  }
}
.freeBox__dLFx6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h2__ycGy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 41px;
  color: var(--token-UDIbo55MP5m8vE);
  text-align: left;
  font-size: 48px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h2__ycGy {
    font-size: 24px;
    text-align: center;
    padding-bottom: 0px;
  }
}
.freeBox__zx8A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__zx8A {
    width: auto;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
.img__t32M {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__t32M > picture > img {
  object-fit: cover;
}
.img__t32M > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__vbcqb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff80;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  align-self: center;
  padding-top: 5px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__vbcqb {
    padding-bottom: 0px;
    font-size: 16px;
  }
}
.freeBox__h1Rp7 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: center;
  min-width: 0;
  padding: 52px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__h1Rp7 {
    align-items: center;
    justify-content: center;
    align-self: flex-start;
  }
}
.img__ej3Q {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: center;
}
.img__ej3Q > picture > img {
  object-fit: cover;
}
.img__ej3Q > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__ej3Q {
    width: auto;
    align-self: flex-start;
  }
}
.text__eCiNu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 523px;
  padding-top: 32px;
  align-self: center;
  color: #ffffff80;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__eCiNu {
    font-size: 18px;
    text-align: left;
    padding-top: 23px;
  }
}
.freeBox__vn6Cf {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 97px 0px 0px;
}
.freeBox__vn6Cf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vn6Cf {
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    width: 669px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vn6Cf > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__vn6Cf > :global(.__wab_flex-container) > *,
  .freeBox__vn6Cf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vn6Cf > :global(.__wab_flex-container) > picture > img,
  .freeBox__vn6Cf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout__ksN48:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__vQde0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout___0Wwpx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__nZee {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 52px 0px 0px;
}
.freeBox__nZee > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__nZee {
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__nZee > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__nZee > :global(.__wab_flex-container) > *,
  .freeBox__nZee > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nZee > :global(.__wab_flex-container) > picture > img,
  .freeBox__nZee
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.detailAbout__iENqv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__lEa6W:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.detailAbout__qyx4F:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img___3G4Ot {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  left: -38px;
  top: 463px;
  display: none !important;
}
.img___3G4Ot > picture > img {
  object-fit: cover;
}
.img___3G4Ot > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___3G4Ot {
    display: none !important;
  }
}
.img__s12Ao {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-end;
  left: 1100px;
  top: 463px;
}
.img__s12Ao > picture > img {
  object-fit: cover;
}
.img__s12Ao > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img__s12Ao {
    display: none !important;
  }
}
.priceSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}
.startSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__swoxo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1200px;
  background: linear-gradient(#185adb, #185adb), #185adb;
  margin-top: 0px;
  margin-bottom: 48px;
  min-width: 0;
  border-radius: 10px;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__swoxo {
    margin-bottom: 0px;
  }
}
.img__cAlrc {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
}
.img__cAlrc > picture > img {
  object-fit: cover;
}
.img__cAlrc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__f1Hil {
  --plsmc-rc-col-gap: 0px;
}
.columns__f1Hil {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 0px;
}
.columns__f1Hil > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
.columns__f1Hil > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__f1Hil {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__f1Hil > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__mpRsm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 0px 0px 54px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__mpRsm {
    padding: 0px;
  }
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 116px;
  padding-left: 0px;
  padding-right: 0px;
  color: var(--token-UDIbo55MP5m8vE);
  font-size: 48px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h3 {
    width: 100%;
    text-align: left;
    align-self: center;
    padding-top: 0px;
    font-size: 28px;
    min-width: 0;
  }
}
.text__fgxF5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 740px;
  color: var(--token-UDIbo55MP5m8vE);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 32px;
  padding-bottom: 108px;
  text-align: left;
  align-self: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__fgxF5 {
    text-align: left;
    padding-bottom: 40px;
    padding-top: 24px;
  }
}
.column__mcFSn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__mcFSn {
    padding-bottom: 38px;
  }
}
.button__teAkn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__teAkn:global(.__wab_instance) {
    width: 100%;
    min-width: 0;
  }
}
.svg__wC4Ef {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__fPaHz {
    text-align: center;
    width: 100%;
    min-width: 0;
  }
}
.svg__tkQnR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.pricingSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.freeBox__umICo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.columns__jjLrz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns__jjLrz > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
  --plsmc-rc-col-gap: 52px;
}
.columns__jjLrz > :global(.__wab_flex-container) > *,
.columns__jjLrz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__jjLrz > :global(.__wab_flex-container) > picture > img,
.columns__jjLrz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
.columns__jjLrz {
  --plsmc-rc-col-gap: 0px;
}
.columns__jjLrz > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__jjLrz > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__jjLrz > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__jjLrz {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__jjLrz > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__jjLrz > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__oCXhR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard___99IE5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.column__wp70I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__vzg0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__vzg0:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.freeBox__w2PZc {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: -57px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.text__iacD4 {
  position: absolute;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  background: #185adb;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  align-self: center;
  left: auto;
  top: 45px;
  font-weight: 500;
  border-radius: 10px;
  padding: 8px 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__iacD4 {
    top: 85px;
    font-size: 14px;
  }
}
.column__ucE7V {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.priceCard__domG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 930px) {
  .priceCard__domG:global(.__wab_instance) {
    margin-top: 30px;
  }
}
.footerSection:global(.__wab_instance) {
  position: relative;
  display: flex;
}
